name: cora_client
description: Cora private messaging client
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.2
  matrix: ^0.25.11
  url_launcher: ^6.3.1
  shared_preferences: ^2.3.3
  image_picker: ^1.1.2
  file_picker: ^8.1.6

dev_dependencies:
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true